<form action="/<%= @filename %>/edit" method="post">
  <label for="new_content">Edit content of <%= @filename %>:</label>

  <div>
    <textarea name="new_content" id="new_content" rows="20"
      cols="100"><%= @new_content || @content %></textarea>
  </div>

  <button type="submit">Save Changes</button>
</form>