<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>CMS Project</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/cms.css">
  </head>

  <body>
    <header>
      <% if session[:error] %>
        <div class="flash error">
          <p class="message"><%= session.delete(:error) %></p>
        </div>
      <% end %>
      <% if session[:success] %>
        <div class="flash success">
          <p class="message"><%= session.delete(:success) %></p>
        </div>
      <% end %>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>