<form method="post" action="/new">
  <label for="filename">Add a new document:</label>

  <div>
    <input type="text" name="filename" id="filename"
      value="<%= @filename %>">
    <button type="submit">Create</button>
  </div>
</form>